
<form (submit)="buscar()"  [formGroup]="miFormulario" autocomplete="off">
<!--     
    <span class="p-float-label">
        <input  id="float-input" formControlName="termino"  type="text"  pInputText> 
        <label for="float-input">{{placeholder}}</label>
    </span> -->

    
    <span class="p-float-label p-fluid" >
        <p-autoComplete formControlName="termino"  [suggestions]="results" (completeMethod)="search()" [showEmptyMessage]="true"></p-autoComplete>
        <label for="float-input">{{placeholder}}</label>
    </span>
</form>

