html, body {
    font-family: var( --font-family );
    background-color: var( --surface-b );


}
.textColor{
    color:rgba(255, 255, 255, 0.87);
}
.textColorSecondary{
  color:rgba(255, 255, 255, 0.6);

}

/* --text-color:rgba(255, 255, 255, 0.87);
  --text-color-secondary:rgba(255, 255, 255, 0.6); */